{
    "root": true,
    "env": {
        "es6": true,
        "browser": true
    },
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint",
        "prettier",
        "promise",
        "sonarjs",
        "sort-imports-es6-autofix",
        "sort-class-members",
        "import",
        "simple-import-sort"
    ],
    "settings": {
        "import/resolver": {
            "typescript": {
                "project": ["tsconfig.json"]
            }
        },
        "import/ignore": ["k6", "https://"],
        "import/extensions": [".ts", ".js"]
    },
    "overrides": [
        {
            "files": ["*.ts"],
            "parserOptions": {
                "project": ["tsconfig.json"],
                "createDefaultProgram": true
            },
            "extends": [
                "eslint:recommended",
                "plugin:@typescript-eslint/eslint-recommended",
                "plugin:@typescript-eslint/recommended",
                "plugin:prettier/recommended",
                "plugin:promise/recommended",
                "plugin:you-dont-need-lodash-underscore/compatible",
                "plugin:import/errors",
                "plugin:import/warnings",
                "plugin:import/typescript"
            ],
            "rules": {
                "@typescript-eslint/no-unused-expressions": "off",
                "@typescript-eslint/no-explicit-any": "off",
                "@typescript-eslint/naming-convention": [
                    "error",
                    {
                        "selector": "classMethod",
                        "format": ["PascalCase"]
                    },
                    {
                        "selector": "variable",
                        "format": ["camelCase"]
                    },
                    {
                        "selector": "function",
                        "format": ["camelCase"],
                        "modifiers": ["global"]
                    }
                ],
                "promise/no-nesting": "off",
                "@typescript-eslint/no-namespace": "off",
                "@typescript-eslint/no-empty-function": "off",
                "@typescript-eslint/no-unused-vars": ["error", { "ignoreRestSiblings": true }],
                "brace-style": ["error", "1tbs", { "allowSingleLine": true }],
                "complexity": ["warn", { "max": 15 }],
                "lines-between-class-members": ["error", "always", { "exceptAfterSingleLine": true }],
                "max-depth": ["error", { "max": 5 }],
                "max-lines": ["warn", { "max": 1000 }],
                "max-lines-per-function": ["warn", { "max": 300 }],
                "max-nested-callbacks": ["error", { "max": 10 }],
                "max-params": ["warn", { "max": 15 }],
                "no-duplicate-imports": "error",
                "no-lonely-if": "error",
                "no-nested-ternary": "off",
                "no-unneeded-ternary": "error",
                "no-unused-private-class-members": "error",
                "no-var": "error",
                "padding-line-between-statements": [
                    "error",
                    { "blankLine": "any", "prev": ["const", "let", "var"], "next": "*" },
                    { "blankLine": "any", "prev": ["const", "let", "var"], "next": ["const", "let", "var"] },
                    { "blankLine": "any", "prev": "*", "next": "return" }
                ],
                "prettier/prettier": ["error", { "endOfLine": "auto" }],
                "promise/always-return": "off",
                "promise/catch-or-return": "off",
                "spaced-comment": "warn",
                "simple-import-sort/imports": "error",
                "simple-import-sort/exports": "error",
                "import/no-unresolved": ["error", { "ignore": ["^k6", "^https://"] }]
            }
        },
        {
            "files": ["*.spec.ts"],
            "parserOptions": {
                "createDefaultProgram": true,
                "project": ["tsconfig.json"]
            },
            "rules": {
                "max-lines": ["warn", { "max": 1000 }],
                "max-lines-per-function": "off"
            }
        }
    ]
}
